<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width">
	<title>EThOS Search Tool</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="static/content/style.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="white-font">
					<a href="#menu-toggle" id="menu-toggle" style="outline: 0 !important;"><i class="fa fa-align-left sidebar-icon fa-lg" style="padding-top: 20px;"></i></a>
				</li>
				<li class="sidebar-brand white-font">
					<h1 style="margin-top: 0;">EThOS</h1>
					<h3>British Library</h3>
				</li>

				<a href="/"><button type="button" class="btn btn-primary pdf-zone" style="position:absolute;right:0px;top:10px;" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>

				

			</ul>
		</div>

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid" style="padding-right: 0px;">
				<div class="section full-width-section section-active">
					<div class="container" style="padding-left: 0px;" id="search-zone">
						<div class="row white-bg">
							<div class="col-8" style="padding-right: 25px;">
								<div style="padding-top: 50px;">
									<h1>Hierachy Tool <i class="fa fa-search" aria-hidden="true"></i> </h1>
									<p>Please input your keywords below</p>
								</div>
							</div>
							<div class="col" id="hide-image">
								<img src="static/content/nu-skills-hub-2402.jpg" class="resize-image" alt="Responsive image">
							</div>
						</div>
					</div>

					<div id="main-body">
						<!--Search Zone-->
						<div class="row">
							<div id="search-before">
								<div class="container start-zone">
									<h2 style="margin-top: 15px;">Keyword input</h2>
									<p id="start-zone-body" style="white-space: pre-wrap;"></p>

									<div id="key-selector" class="input-group mb-3">
										<input type="number" name="n-keys" value = "5" id="n-keys" class="form-control" min="4" max="32">
										<div class="input-group-append">
											<button  class="btn btn-success" onclick="set_n_keys()" type="submit">Set Number of Keys </button>
										</div>
									</div>

									<form name="keywords" id="keywords">
										<div class="form-group">
										<div class="input-group" id="paper breadth">
											<input type="number" class="form-control" name="breadth" value = "8" min="2" max="128">
											<div class="input-group-append"><span class="input-group-text">Set Number of Theses to Search</span></div>

										</div>
										</div>

										<div id='keys'>
											<div class="input-group mb-3" id="keyword_group_1">
												<input type="text" class="form-control" name="keyword1" placeholder="enter keyword" maxlength="100">
												<div class="input-group-prepend"><span class="input-group-text">Weight (1-100)</span></div>
												<input type="number" class="form-control"  name="weight1" value="50" min="1" max="100">	
											</div>
											<div class="input-group mb-3" id="keyword_group_2">
												<input type="text" class="form-control" name="keyword2" placeholder="enter keyword" maxlength="100">
												<div class="input-group-prepend"><span class="input-group-text">Weight (1-100)</span></div>
												<input type="number" class="form-control"  name="weight2" value="50" min="1" max="100">	
											</div>
											<div class="input-group mb-3" id="keyword_group_3">
												<input type="text" class="form-control" name="keyword3" placeholder="enter keyword" maxlength="100">
												<div class="input-group-prepend"><span class="input-group-text">Weight (1-100)</span></div>
												<input type="number" class="form-control"  name="weight3" value="50" min="1" max="100">	
											</div>
											<div class="input-group mb-3" id="keyword_group_4">
												<input type="text" class="form-control" name="keyword4" placeholder="enter keyword" maxlength="100">
												<div class="input-group-prepend"><span class="input-group-text">Weight (1-100)</span></div>
												<input type="number" class="form-control"  name="weight4" value="50" min="1" max="100">	
											</div>
											<div class="input-group mb-3" id="keyword_group_5">
												<input type="text" class="form-control" name="keyword5" placeholder="enter keyword" maxlength="100">
												<div class="input-group-prepend"><span class="input-group-text">Weight (1-100)</span></div>
												<input type="number" class="form-control"  name="weight5" value="50" min="1" max="100">	
											</div>
											
										</div>
										<div class="form-group">
											<div class="input-group" id="submit">

										<button type="submit" class="btn btn-success" onclick="submit_keywords()">Submit</button>
										</div>
									</div>
									</form>
								</div>
							</div>
							<div id="search-after" class="hidden">
								<p>keywords entered</p>

							</div>
						</div>
                        <div class="row">

							<!--tree-zone-->
							<div class="container-lg tree-zone">
								<div id='tree' style="display: none;">
									<h3>Here is a visulisation of the Clustering Tree</h3>

									<img id="den" src="/get_image">
								</div>
							</div>
						</div>
						
						<div class="row">
							<!--Choices Zone-->
							<div class="container choices-zone  zone-title">
								<div class="row">
									<h1 id="groups-title">Clusters</h1>

								</div>

								<p style="margin-bottom: 0">Please select the branch, left or right, that most closely matches what you are looking for. You can create both summaries of abstracts or keywords of all theses in the cluster with the buttons below as well as view the origional PDFs.</p>
							</div>
							<div class="container-lg choices-zone" id="choices-zone">
								<div class="row">
									<div class="col-lg hr-cols">
										<h2>Left Branch</h2>
										<div class="input-group">
											<button class="btn btn-primary" onclick="summaryRequest(0)">Create Cluster Summary</button>
											<button class="btn btn-primary" onclick="keywordsRequest(0)">Get Cluster Keywords</button>
											<button class="btn btn-success" onclick="left_traverse()">Go Left</button>
										</div>
										
										<div id=left_c_responses class="responses"></div>
										<table class="table table-dark">
										  <thead>
										    <tr>
										      <th scope="col">Thesis ID</th>
										      <th scope="col">Summary</th>
										      <th scope="col">Load PDF</th>
										    </tr>
										  </thead>
										  <tbody id="left-list">
										  </tbody>
										</table>
										<div class="input-group">
											<button class="btn btn-success" onclick="left_traverse()">Go Left</button>
										</div>
									</div>
									<div class="col-lg hr-cols">
										<h2>Right Branch</h2>
										<div class="input-group">
											<button class="btn btn-primary" onclick="summaryRequest(1)">Create Cluster Summary</button>
											<button class="btn btn-primary" onclick="keywordsRequest(1)">Get Cluster Keywords</button>
											<button class="btn btn-danger" onclick="right_traverse()">Go Right</button>
										</div>
										<div id=right_c_responses class="responses"></div>

										<table class="table table-dark">
										  <thead>
										    <tr>
										      <th scope="col">Thesis ID</th>
										      <th scope="col">Summary</th>
										    </tr>
										  </thead>
										  <tbody id="right-list">
										  </tbody>
										</table>
										<div class="input-group">
											<button class="btn btn-danger" onclick="right_traverse()">Go Right</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
<script src="static/EThOS_scripts/searching-hierarchy.js"></script>
</body>
</html>