<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width">
	<title>EThOS Search Tool</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="static/content/style.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="white-font">
					<a href="#menu-toggle" id="menu-toggle" style="outline: 0 !important;"><i class="fa fa-align-left sidebar-icon fa-lg" style="padding-top: 20px;"></i></a>
				</li>
				<li class="sidebar-brand white-font">
					<h1 style="margin-top: 0;">EThOS</h1>
					<h3>British Library</h3>
				</li>

				<a href="/"><button type="button" class="btn btn-primary pdf-zone" style="position:absolute;right:0px;top:10px;" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>

				

			</ul>
		</div>

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid" style="padding-right: 0px;">
				<div class="section full-width-section section-active">
					<div class="container" style="padding-left: 0px;" id="search-zone">
						<div class="row white-bg">
							<div class="col-8" style="padding-right: 25px;">
								<div style="padding-top: 50px;">
									<h1>Hierachy Tool <i class="fa fa-search" aria-hidden="true"></i> </h1>
									<p>Please input your keywords below</p>
								</div>
							</div>
							<div class="col" id="hide-image">
								<img src="static/content/nu-skills-hub-2402.jpg" class="resize-image" alt="Responsive image">
							</div>
						</div>
					</div>

					<div id="main-body">
						<!--Results Zone-->
						<div class="container results-zone zone-title" style="margin-bottom: 0">
							<div class="row">
								<h2 id="results-title">PDF Results</h2>

							</div>
							<button type="button" class="btn-sm btn-primary" onclick="transition_to_groups()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
						</div>
						<div class="container-lg results-zone" id="results-zone">

						</div>

						<!--Search Zone-->
						<div class="container start-zone">
							<h2 style="margin-top: 15px;">Keyword input</h2>
							<p id="start-zone-body" style="white-space: pre-wrap;"></p>
							<form name="keywords" id="keywords">


								<div class="form-group" id="paper breadth">
									<input type="number" name="breadth" min="2" max="128">
								</div>


								<div class="form-group" id="keyword_group_1">
									<input type="text" name="keyword1" maxlength="100">
									<input type="range" name="weight1" value="50" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
									<output>50</output>
								</div>
								<div class="form-group" id="keyword_group_2">
									<input type="text" name="keyword2" maxlength="100">
									<input type="range" name="weight2" value="50" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
									<output>50</output>								
								</div>
								<div class="form-group" id="keyword_group_3">
									<input type="text" name="keyword3" maxlength="100">
									<input type="range" name="weight3" value="50" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
									<output>50</output>								
								</div>
								<div class="form-group" id="keyword_group_4">
									<input type="text" name="keyword4" maxlength="100">
									<input type="range" name="weight4" value="50" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
									<output>50</output>								
								</div>
								<div class="form-group" id="keyword_group_5">
									<input type="text" name="keyword5" maxlength="100">
									<input type="range" name="weight5" value="50" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
									<output>50</output>								
								</div>
								<button type="button" class="btn btn-primary" onclick="submit_keywords()">Submit <i class="fa fa-check" aria-hidden="true"></i></button>

							</form>
						</div>
                        <div class="container-lg start-zone" id="start-tickets-zone">

                        </div>

						<!--tree-zone-->
						<div class="container-lg tree-zone">
							<h3>see resulting tree data here</h3>
							<div id='tree' style="display: none;">
								<img id="den" src="/get_image">
							</div>
						</div>

						<!--Data Zone-->
						<div class="container-lg data-zone" id="data-zone">
							<h2 id="summarisation-title" style="margin-top: 15px;">Here's the summaries of presented theses</h2>
							<p id="summaries"></p>
						</div>

						<!--Choices Zone-->
						<div class="container choices-zone  zone-title">
							<div class="row">
								<h2 id="groups-title">Similar Paper Groups</h2>

							</div>

							<p style="margin-bottom: 0">Please select a group that most closely matches what you are looking for.</p>
						</div>
						<div class="container-lg choices-zone" id="choices-zone">
							<h2>Left Theses</h2>

							<h2>create cluster summary</h2>

							<h2>get keywords</h2>

							<table class="table table-dark">
							  <thead>
							    <tr>
							      <th scope="col">Name</th>
							      <th scope="col">Summary</th>
							    </tr>
							  </thead>
							  <tbody id="left-list">
							  </tbody>
							</table>

							<button onclick="left_traverse()">Go Left</button>
							<h2>Right Theses</h2>
							
							<h2>create cluster summary</h2>
							
							<h2>get keywords</h2>
							<table class="table table-dark">
							  <thead>
							    <tr>
							      <th scope="col">Name</th>
							      <th scope="col">Summary</th>
							    </tr>
							  </thead>
							  <tbody id="right-list">
							  </tbody>
							</table>
							<button onclick="right_traverse()">Go Right</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
<script src="static/EThOS_scripts/searching-hierarchy.js"></script>
</body>
</html>